.tour{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 600px;
    flex-direction:row;
    flex-wrap: wrap;
}

.tour-image{
    width: 200px; /* reduce width */
    border-radius: 10px;
    height:auto;
}

.tour-info{
    width: 300px; /* add width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show{
    margin-left: 10px; 
    cursor: pointer; 
    border: none;
    background-color: transparent;
    color: blue; 
}

.delete-btn{
    width:60px; /* reduce width */
    height: 40px;
    border: none;
    background-color:blue;
    color: antiquewhite;
    border-radius: 10px;
}